.searchBar {
    padding: 20px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .form {
        width: 70%;
    }
}


@media (max-width: 768px) {
    .searchBar input {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}